<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>2017948072 이재홍</title>
</head>
<body>

<div class="text-center">
    <a href="/" style="text-decoration:none;">
        <img th:src="@{/images/P4.jpg}" class="img-rounded"
             style="display:inline-block;height:100%;margin-right:5px"/>
        <span class="h2">SpringBoot를 이용한 간단한 Board만들기 Project</span>
    </a>
</div>


<div class="container">
    <div class="page-header">
        <h1>Basic 확인</h1>
    </div>
    <input id="basic_idx" type="hidden" th:value="${basic?.idx}"/>
    <table class="table">
        <tr>
            <th style="padding:13px 0 0 15px;">이름</th>
            <td><input id="basic_name" type="text" class="form-control input-sm" th:value="${basic?.name}"/></td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">직책</th>
            <td><input id="basic_label" type="text" class="form-control input-sm" th:value="${basic?.label}"/></td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">이메일</th>
            <td><input id="basic_email" type="text" class="form-control input-sm" th:value="${basic?.email}"/></td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">연락처</th>
            <td><input id="basic_phone" type="text" class="form-control input-sm" th:value="${basic?.phone}"/></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="/" class="btn btn-default">목록으로</a>
    </div>
    <div class="pull-right">
        <button th:if="${basic?.idx}" type="button" class="btn btn-info" id="update">수정</button>
        <button th:if="${basic?.idx}" type="button" class="btn btn-danger" id="delete">삭제</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:if="${basic?.idx}">
    $('#update').click(function () {
        var jsonData = JSON.stringify({
            name: $('#basic_name').val(),
            label: $('#basic_label').val(),
            email: $('#basic_email').val(),
            phone: $('#basic_phone').val()
        });

        $.ajax({
            url: "http://localhost:8080/basic/" + $('#basic_idx').val(),
            type: "PUT",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                swal({
                    title: "수정  완료!!!!",
                    text: "Basic을 수정하였습니다! 계속하기버튼을 누른후 목록으로 버튼을 눌러주세요!",
                    icon: "success",
                    button: "계속하기",
                });
            },
            error: function () {
                swal({
                    title: "수정  실패....",
                    text: "Basic을 수정 실패하였습니다! 다시시도해 주세요!",
                    icon: "error",
                    button: "계속하기",
                });
            }
        });

    });


    $('#delete').click(function () {
        $.ajax({
            url: "http://localhost:8080/basic/" + $('#basic_idx').val(),
            type: "DELETE",
            success: function () {
                alert('삭제 성공!');
                location.href = '/';
            },
            error: function () {
                alert('삭제 실패!');
            }
        });
    });
</script>

</body>
</html>
