<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>SpringBoot Board Project</title></head>
<body>
<<div class="text-center">
    <a href="/" style="text-decoration:none;">
        <img th:src="@{/images/P4.jpg}" class="img-rounded"
             style="display:inline-block;height:100%;margin-right:5px"/>
        <span class="h2">SpringBoot를 이용한 간단한 Board만들기 Project</span>
    </a>
</div>
<div class="container">
    <div class="page-header"><h1>Profile 작성</h1></div>
    <form action="/" th:action="@{/profile/add}" th:object="${profile}" method="post">
        <div class="form-group row"><label for="username" class="col-sm-2 col-form-label">SNS</label>
            <div class="col-sm-10"><input th:field="*{network}" type="text" class="form-control" id="network"
                                          placeholder="SNS"></div>
        </div>
        <div class="form-group row"><label for="username" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10"><input th:field="*{username}" type="text" class="form-control" id="username"
                                          placeholder="ID"></div>
        </div>
        <div class="form-group row"><label for="username" class="col-sm-2 col-form-label">링크</label>
            <div class="col-sm-10"><input th:field="*{url}" type="text" class="form-control" id="url"
                                          placeholder="링크"></div>
        </div>
        <input type="submit" value="작성"></form>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>
</html>
